.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);s
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    height: 100%;
    text-align: center;
    color: hsl(223, 47%, 23%);
    font-weight: 500;
}

.viewport {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}

.main-cntr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 375px;
    max-width: 450px;
}

.top-img {
    border-radius: 20px 20px 0 0px;
    display: flex;
}

.bot-cntr {
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 24px;
    font-weight: 900;
    padding: 0 0 20px 0;
    margin: 0;
    color: hsl(223, 47%, 23%);
}

h2 {
    font-size: 16px;
    font-weight: 900;
    padding: 0;
    margin: 0;
    color: hsl(223, 47%, 23%);
}

p {
    margin: 0;
    padding: 0;
}

.plan-cntr {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px 0 15px 0;
    height: 100px;
}

.change, .change a {
    color: hsl(245, 75%, 52%);
    float: right;
    position: absolute;
    top: center;
    right: 25px;
}

.change:hover {
    text-decoration: none;
    opacity: 0.7;
}

.music {
    height: 48px;
    padding-right: 20px;
}

button {
    background-color: hsl(245, 75%, 52%);
    border: 1px solid hsl(245, 75%, 52%);
    border-radius: 10px;
    color: white;
    height: 50px;
    font-weight: 700;
    text-align: center;
    margin: 15px 0 15px 0;
    padding: 10px 0 10px 0;
    box-shadow: 3px 20px 10px hsl(225, 100%, 94%) ;
}

button:hover {
    background-color: hsl(245, 75%, 52%);
    opacity: 0.7;
    cursor: pointer;
}

.cancel, .cancel a {
    text-decoration: none;
    font-size: 14px;
    color: hsl(223, 47%, 23%);
    padding: 20px 0 10px 0;
}

.cancel:hover {
    font-weight: 900;
}